demoClient/src/main/java/proxy/3.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService.jeeg3webservice.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService.jeeg3webservice.example.com/" name="CalculWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://webService.jeeg3webservice.example.com/" schemaLocation="http://localhost:8088/?xsd=1"/>
</xsd:schema>
</types>
<message name="soustraction">
<part name="parameters" element="tns:soustraction"/>
</message>
<message name="soustractionResponse">
<part name="parameters" element="tns:soustractionResponse"/>
</message>
<message name="produit">
<part name="parameters" element="tns:produit"/>
</message>
<message name="produitResponse">
<part name="parameters" element="tns:produitResponse"/>
</message>
<message name="division">
<part name="parameters" element="tns:division"/>
</message>
<message name="divisionResponse">
<part name="parameters" element="tns:divisionResponse"/>
</message>
<message name="multiplication">
<part name="parameters" element="tns:multiplication"/>
</message>
<message name="multiplicationResponse">
<part name="parameters" element="tns:multiplicationResponse"/>
</message>
<message name="somme">
<part name="parameters" element="tns:somme"/>
</message>
<message name="sommeResponse">
<part name="parameters" element="tns:sommeResponse"/>
</message>
<portType name="CalculWebService">
<operation name="soustraction">
<input wsam:Action="http://webService.jeeg3webservice.example.com/CalculWebService/soustractionRequest" message="tns:soustraction"/>
<output wsam:Action="http://webService.jeeg3webservice.example.com/CalculWebService/soustractionResponse" message="tns:soustractionResponse"/>
</operation>
<operation name="produit">
<input wsam:Action="http://webService.jeeg3webservice.example.com/CalculWebService/produitRequest" message="tns:produit"/>
<output wsam:Action="http://webService.jeeg3webservice.example.com/CalculWebService/produitResponse" message="tns:produitResponse"/>
</operation>
<operation name="division">
<input wsam:Action="http://webService.jeeg3webservice.example.com/CalculWebService/divisionRequest" message="tns:division"/>
<output wsam:Action="http://webService.jeeg3webservice.example.com/CalculWebService/divisionResponse" message="tns:divisionResponse"/>
</operation>
<operation name="multiplication">
<input wsam:Action="http://webService.jeeg3webservice.example.com/CalculWebService/multiplicationRequest" message="tns:multiplication"/>
<output wsam:Action="http://webService.jeeg3webservice.example.com/CalculWebService/multiplicationResponse" message="tns:multiplicationResponse"/>
</operation>
<operation name="somme">
<input wsam:Action="http://webService.jeeg3webservice.example.com/CalculWebService/sommeRequest" message="tns:somme"/>
<output wsam:Action="http://webService.jeeg3webservice.example.com/CalculWebService/sommeResponse" message="tns:sommeResponse"/>
</operation>
</portType>
<binding name="CalculWebServicePortBinding" type="tns:CalculWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="soustraction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="produit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="somme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculWebServiceService">
<port name="CalculWebServicePort" binding="tns:CalculWebServicePortBinding">
<soap:address location="http://localhost:8088/"/>
</port>
</service>
</definitions>